.page {
    padding: 32px 104px;
}

.headerWrapper {
    margin-bottom: 24px;
}

.header {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
}

.subheader {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #5C6476;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.cardContainer {
    width: 65%;
}

.summary {
    width: 30%;
}

.card {
    border: 1px solid #9BA1B033;
    padding: 16px;
    gap: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6000000238418579px;
}

.cardprice {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
}

.viewDetails {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #9B2C40;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.viewDetails:hover {
    color: #752937;
}

.priceSummary {
    background: #9BA1B00D;
    border: 1px solid #9BA1B033;
    width: 100%;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.priceHeader {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;   
}

.priceDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceDetailKey {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;    
}

.priceDetailValue {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.6000000238418579px;
    text-align: right;
    
}

.dashedHr {
    border: 1px dashed #9BA1B080;
    height: 1px;
    width: 100%;
    background-color: transparent;
}

.hr {
    width: 1px;
    height: 40px;
    background-color: #9BA1B04D;
}

.btn {
    width: 100%;
    height: 58px;
    border-radius: 4px;
    background-color: #9B2C40;
    box-shadow: 0 2px 4px 0px #1B212F0F;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    margin-top: 24px;
}

.btn:hover {
    background-color: #752937;
}


.radio {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
  }
  
  .radio:before {
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transform: scale(0, 0);
    content: "";
    position: absolute;
    top: 0;
    left: 0.125rem; /* Converted rem(2) to 0.125rem assuming 1rem = 16px */
    z-index: 1;
    width: 0.75rem; /* Converted rem(12) to 0.75rem */
    height: 0.75rem; /* Converted rem(12) to 0.75rem */
    background: #9B2C40;
    border-radius: 50%;
  }
  
  .radio:checked:before {
    transform: scale(1, 1);
  }
  
  .radio:checked:after {
    border: 2px solid #9B2C40;
  }
  
  .radio:after {
    content: "";
    position: absolute;
    top: -0.25rem; /* Converted rem(-4) to -0.25rem */
    left: -0.125rem; /* Converted rem(-2) to -0.125rem */
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid #d4d4d4; /* CSS variable for $secondaryColor */
    border-radius: 50%;
  }

  .addressWrapper {
    background-color: white;
  }
 
  .addressContainer, .measurementContainer {
    display: flex;
    align-items: baseline;
    padding: 32px;
    border-bottom: 1px solid #E8E8E8;
  }

  .address, .measurement {
    cursor: pointer;
  }

  .measurement {
    width: 100%;
  }

  .addName {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    margin-bottom: 12px;
    
  }

  .addVal {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    margin-bottom: 4px;
    color: #5C6476;

  }

  .timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .event {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    color: #5C6476;
  }

  .eventActive {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    color: #718A59;
  }

  .measureRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 12px;
    justify-content: space-between;
    width: 100%;
  }

  .measureKey{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
    margin-bottom: 3px;
    color: #5C6476;
  }

  .measureValue {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
    text-align: left;
    color: #0D1829;
  }

