.heroContainer {
  position: relative;
  width: 100vw;
  height: fit-content;
}

.caroselContainer {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 150px;
    width: 40vw;
    background-color: #FAF8F0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.thumbnail {
  position: relative;
  width: 150px;
  height: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  overflow: hidden;
}

.activeThumbnail {
  box-shadow: 3px 1px 6px 0px black;
}


.heroText {
  color: white;
  width: 200px;
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.heroBtn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px;
}

.heroImg {
  width: 100vw;
}

.page {
  padding: 62px 204px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.aboutUs {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.categoryText {
  color: white;
  width: 200px;
  position: absolute;
  bottom: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.categoryTextRight {
  color: white;
  width: 200px;
  position: absolute;
  bottom: 20%;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.categoryWrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
}


.catImg {
  width: 100%;
}